@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&display=swap');

a:link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #0b0909;
}

header {
    display: flex;
    justify-content: space-between;
}

.navbar__placeholder {
    offset: -1;
    width: 33%;
}

.navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    position: absolute;
    position: fixed;
    z-index: 2;
    width: 650px;
    width: 130px;
}

.navbar__index {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: grey;
}

.navbar__index--item {
    padding-right: 5px;
    padding-left: 5px;
}

.navbar__index--item:first-child {
    color: black;
    font-weight: bold;
    box-shadow: 1px 0px 0px #EAEAEA;
}

.navbar__subindex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    list-style: none;
}

.navbar__subindex--item {
    padding: 5px;
}

.navbar__subindex--promo {
    color: #FF2D00 !important;
}

.navbar__subindex--selected {
    font-weight: bold;
}

.superior {
    display: flex;
    text-align: center;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;

}

.parrafo-central {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    width: 33%;
    font-weight: bold;
}

.parrafo-central ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 10px;
}

.parrafo-central__title {
    display: flex;

}

.parrafo-central__nav {
    display: flex;
}

.parrafo-central__item {
    color: rgb(201, 197, 197);
}

.parrafo-central__item:not(:first-child)::before {
    content: ">";
    margin: 10px;
    color: black;
}

.parrafo-central__item:last-child {
    color: black;
}

.search {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    width: 33%;
}

.search__input {
    display: flex;
    list-style: none;
    font-size: 12px;
    margin-top: 5px;
}

.search__input--underline {
    border-bottom: 1px solid black;
}

.search__input input {
    border: 0;
    outline: 0;
    background: transparent;
}

.search__input--icon {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 0px solid rgb(253, 252, 252);
}


.search__text {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    list-style: none;
    font-size: 10px;
    margin-top: 5px;
}

.search__text p {
    display: flex;
}

.search__text ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-shadow: 0px 4px 4px #EAEAEA;
}

.moto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    height: 300px;
    padding-bottom: 20px;

}

.producto {
    height: auto;
    width: 250px;
    justify-content: center;
}

.moto__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    margin-top: 6px;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.marketing {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 4px 4px #EAEAEA;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.marketing h2 {
    text-decoration: solid;
}

.marketing input {
    text-decoration: solid;
    margin-bottom: 20px;
    list-style: none;
    font-size: 12px;
    margin-top: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    width: 500px;
}


.contacto {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 4px 4px #EAEAEA;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacto__details {
    padding-bottom: 20px;
}

.green {
    color: green;
}

.icon {
    height: 12px;
    width: 12px;
}


.listados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin: auto;
    box-shadow: 0px 4px 4px #EAEAEA;
        padding-top: 20px;
    padding-bottom: 20px;

}

.listados__item {
    display: flex;
}

.list__title {
    display: flex;
    font-weight: bold;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    list-style: none;
}

.list1 {
    list-style: none;
}


.footer__list {
    list-style: none;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    font-size: 10px;

}

.footer__item:not(:last-child) {
    display: flex;
    box-shadow: 1px 0px 0px #EAEAEA;
    padding-right: 70px;
}